body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", Arial,
    sans-serif;
  background-image: url("images/table.png");
  background-size: cover;
  font-weight: bold;
  color: white;
  text-align: center;
}

h1 {
  color: goldenrod;
}

#message-el {
  font-style: italic;
}

button {
  color: #016f32;
  width: 150px;
  background-color: goldenrod;
  border: 1px solid goldenrod;
  font-weight: bold;
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
